/* Empty. Add your own CSS if you like */
.login-container {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e8e8e8), color-stop(100%, #e8e8e8));
    background: -webkit-linear-gradient(top, #e8e8e8 0%, #e8e8e8 100%);
}

.login-container > .button-row img {
    max-width: 80%;
}

.login-container > .header {
    -webkit-flex: 2;
    padding-top: 20px;
}

.home {
    min-height: 60px;
    padding-left: 20px;
}

.login_button {
    background-color: #e8e8e8;
    /*
    width: 94.5%!important;
    margin-left: 10px!important;*/
}

.login_button_color {
    background-color: #f78e00 !important;
}

.button.button-positive {
    background-color: #f78e00 !important;
}

.icon {
    font-size: 56px;
    color: #f78e00;
}

.collection-icon {
    max-height: 30%;
    max-width: 30%;
}
/*.logout-icon{
    max-width: 20%;
}*/

.logo {
    max-height: 150px;

}

.card {
    background-color: #93c47d;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
    display: block;
    margin: 8px;
    padding: 0;
    position: relative;
    max-height: 10%;
}

.padding .card, .padding .list-inset {
    margin: 5px 5px 5px 5px;
}

.card-details {
    display: inline-block;
    padding: 7% 5% 7% 0%;
}

.card-details img {
    vertical-align: middle;
}

.my_nav {
    background-color: #93c47d;
}
/*
.logout {
    padding-right: 10px;
}

.farmer {
    padding-right: 30px;
}*/

@media screen and (min-width: 360px) and (max-width: 1000px) {
    #floating-button a {
        vertical-align: middle;
    }
    .picture1 {
        min-width: 100%;
        max-height: 150px;
        padding-top: 10px;
    }
}

@media screen and (max-width: 360px) {
    .card-details {
        display: inline-block;
        padding: 4% 5% 4% 0%;
    }
    #floating-button a {

        vertical-align: baseline;

    }
}

.picture1 {
    min-width: 100%;
    max-height: 100px;
    padding-top: 10px;
    padding-left:2%;
    padding-right:2%;
}

.thick {
    font-weight: bold;
}

#map {
    width: 100%;
    height: 200px;
}
.home-container {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    height: 100%;
}
.home-container > .row {
    -webkit-flex: 1;
}

.header {
    -webkit-flex: 1.5 !important;
    -webkit-align-items: center;
    background-color: #93c47d;
}

.icon-row {
    -webkit-align-items: center;
}
.modal{
    top: 0 ;
    bottom: 0 ;
    left: 0 ;
    right: 0 ;
    width: 100% ;
}
/*
i .float_button .icon .menu-icon .ion-plus {
    vertical-align: middle!important;
}*/
