<ion-view view-title="Milk Collection" name="login-view">
    <div class="my_nav bar bar-header">
        <h1 class="title">SmartFarms</h1>
    </div>
    <div class="welcome_message bar bar-subheader">
        <h3 class="title">Capital Made</h3>
    </div>
    <ion-content class="padding has-subheader">
        <div class="item" ng-hide="cash" ng-if="::cash || undefined">
            Sorry, no record on capital gained.
        </div>
        <div class="card">
            <div class="bar bar-header item-input-inset" ng-show="cash">
                <input type="text" placeholder=" Search for payment month" ng-model="search"
                       style="width:100%; padding-left:11px;"/>
            </div>
        </div>
        <div class="item" ng-hide="rslt.length" ng-if="cash">
            Sorry, no results for your search.
        </div>
        <ul class="list">
            <li ng-repeat="cash in cash | filter:search as rslt"
                      >

                <ion-item ng-repeat="cash in cash | filter:search as rslt"
                          class="item-avatar item-icon-right">
                    <img src="img/farm.png">
                    <p>Farm name : {{cash.farm_name}}</p>
                    <p>Farmers Name : {{cash.first_name+" "+cash.last_name+" "+cash.surname}}</p>
                    <p>Amount expected : {{cash.cost}}</p>
                    <p>Month : {{cash.month}}  <br> Year : {{cash.year}}</p>
                </ion-item>
            </li>
        </ul>
    </ion-content>
</ion-view>