<ion-view view-title="Milk Collection" name="login-view">
    <div class="my_nav bar bar-header">
        <h1 class="title">SmartFarms</h1>
    </div>
    <div class="row welcome_message home bar bar-subheader">
        <div class="col">{{ today | date }}</div>
        <div class="col">{{organisationName}}</div>
        <div class="col">Welcome, {{username | uppercase}}</div>
    </div>
    <ion-content class="padding has-header">

        <div class="text-center" style="padding-top: 40px;">
            <div class="row">
                <div class="col-50" ng-click="milkCollected()">
                    <div class="card">
                        <div class="card-details farmer">
                            <img src="img/farmer.png" class="icon-left collection-icon">
                            <i class="">Milk Collected</i>
                        </div>
                    </div>
                </div>
                <div class="col-50" ng-click="Farm()">
                    <div class="card">
                        <div class="card-details">
                            <img src="img/farm.png" class="icon-left collection-icon">
                            <i class="">Farms</i>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-50" ng-click="Cash()">
                    <div class="card">
                        <div class="card-details">
                            <img src="img/profile_farm.png" class="icon-left collection-icon">
                            <i class="">Cash</i>
                        </div>
                    </div>
                </div>

                <div class="col-50" ng-click="logout()">
                    <div class="card">
                        <div class="card-details logout">
                            <img src="img/logout.png" class="icon-left collection-icon">
                            <i class="logout">&nbsp;Logout&emsp;</i>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>
<ion-nav-view>
    <!--<ion-nav-buttons side="right">
        <button class="button icon-left ion-log-out button-stable" ng-click="logout()">Logout</button>
    </ion-nav-buttons>-->
    <ion-content class="has-header">

    </ion-content>
</ion-nav-view>