<ion-view>
    <div class="my_nav bar bar-header bar-balanced">
        <h1 class="title">Milk Collection</h1>
    </div>

    <ion-tabs class="tabs-icon-top bar-subheader">
        <ion-tab title="Accepted Collections" icon="ion-checkmark-round" href="#/milk/accepted">
            <ion-nav-view name="accepted-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Rejected Collections" icon="ion-alert-circled" href="#/milk/rejected">
            <ion-nav-view name="rejected-tab"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>