<ion-modal-view>
    <div class="my_nav bar bar-header">
        <h3 class="title">Farmer Details</h3>
        <button class="button button-primary" ng-click="editFarmerModal.hide()">
            <i class="icon ion-android-close"></i>
            Close
        </button>
    </div>
    <ion-content class="padding has-header">
        <form ng-submit="saveEditedFarmer(farmer,cat.selectedOption)">
            <div class="list list-inset">
                <label class="item item-input">
                    <span class="input-label">Member Number</span>{{farmer.memberNumber}}
                </label>
                <label class="item item-input">
                    <span class="input-label">Name</span>{{farmer.first_name+" "+farmer.last_name+" "+farmer.surname}}
                </label>
                <label class="item item-input">
                    <span class="input-label">National ID</span>{{farmer.id_number}}
                </label>
                <label class="item item-input">
                    <span class="input-label">Phone Number</span>{{farmer.phone}}
                </label>
            </div><!--
            <button class="button button-block button-positive" type="submit">Edit Farmer</button>-->

        </form>
    </ion-content>
</ion-modal-view>