<ion-view view-title="Milk Collection" name="login-view">
    <div class="my_nav bar bar-header">
        <h1 class="title">SmartFarms</h1>
    </div>
    <div class="welcome_message bar bar-subheader">
        <h3 class="title">Farmers</h3>
    </div>
    <ion-floating-button class="float_button" click="newFarmer()" has-footer="false" button-color="#2AC9AA"
                         icon="ion-plus" icon-color="#fff">
    </ion-floating-button>
    <ion-content class="padding has-subheader">
        <div class="item" ng-hide="farmers" ng-if="::farmers || undefined">
            Sorry, no registered farmers.
        </div>
        <div class="card" ng-show="farmers">
            <div class="bar bar-header item-input-inset">
                <input type="text" placeholder=" Search for farmer" ng-model="search"
                       style="width:100%; padding-left:11px;"/>
            </div>
        </div>
        <div class="item" ng-hide="rslt.length" ng-if="farmers">
            Sorry, no results for your search.
        </div>
        <ul class="list">
            <ion-item ng-repeat="farmer in farmers |  filter:search as rslt" ng-click="selectedFarmerEdit(farmer)"
                      class="item-avatar item-icon-right">
                <img src="img/farmer.png">
                <p>Member Number : {{farmer.memberNumber}}</p>
                <p>Farmer's Name : {{farmer.first_name+" "+farmer.last_name+" "+farmer.surname}}</p>
                <p>Phone Number : {{("0"+farmer.phone).slice(-10)}}</p>
                <!--<i class="icon ion-edit"></i>-->
            </ion-item>
        </ul>
    </ion-content>
</ion-view>