<ion-view view-title="SmartFarms" name="login-view">
    <div class="my_nav bar bar-header">
        <h1 class="title">Smart Farms</h1>
    </div>
    <div class="welcome_message bar bar-subheader">
        <h3 class="title">Add Farmer</h3>
    </div>
    <ion-content class="padding has-subheader">
        <form ng-submit="addFarmer(farmer,cat.selectedOption,gender.selectedOption)">
            <div class="list list-inset">
                <div class="item item-divider">
                    Personal Details
                </div>
                <label class="item item-input">
                    <span class="input-label">First Name</span>
                    <input type="text" ng-model="farmer.first_name">
                </label>
                <label class="item item-input">

                    <span class="input-label">Last Name</span>
                    <input type="text" ng-model="farmer.last_name">
                </label>
                <label class="item item-input">
                    <span class="input-label">Surname</span>
                    <input type="text" ng-model="farmer.surname">
                </label>
                <label class="item item-input">
                    <span class="input-label">Member Number</span>
                    <input type="text" ng-model="farmer.memberNumber">
                </label>
                <label class="item item-input">
                    <span class="input-label">National ID</span>
                    <input type="number" ng-model="farmer.id_number">
                </label>
                <label class="item item-input">
                    <span class="input-label">Phone Number</span>
                    <input type="number" ng-model="farmer.phone">
                </label>
                <label class="item item-select">
                    <span class="input-label">Gender</span>
                    <select name="genderSelect" id="genderSelect"
                            ng-options="option.name for option in gender.availableOptions track by option.id"
                            ng-model="gender.selectedOption"></select>
                </label>
                <label class="item item-select">
                    <span class="input-label">Category</span>
                    <select name="categorySelect" id="categorySelect"
                            ng-options="option.category_name for option in cat.availableOptions track by option.id"
                            ng-model="cat.selectedOption"></select>
                </label>
                <!--<div class="item item-divider">
                    Login Details
                </div>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" ng-model="farmer.username">
                </label>-->
            </div>
            <button class="button button-block button-positive" type="submit">Add Farmer</button>

        </form>
    </ion-content>
</ion-view>
