<!--
  ~ Copyright (c) 2017. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  ~ Morbi non lorem porttitor neque feugiat blandit. Ut vitae ipsum eget quam lacinia accumsan.
  ~ Etiam sed turpis ac ipsum condimentum fringilla. Maecenas magna.
  ~ Proin dapibus sapien vel ante. Aliquam erat volutpat. Pellentesque sagittis ligula eget metus.
  ~ Vestibulum commodo. Ut rhoncus gravida arcu.
  -->

<ion-view view-title="SmartFarms" name="login-view">
    <div class="my_nav bar bar-header">
        <h1 class="title">SmartFarms</h1>
    </div>
    <div class="row welcome_message home bar bar-subheader">
        <div class="col thick">{{ today | date }}</div>
        <div class="col thick">{{organisationName}}</div>
        <div class="col thick">Welcome, {{username | uppercase}}</div>
    </div>
    <ion-content class="padding has-header">
        <section class="home-container" style="padding-top: 50px;">
            <div class="row icon-row">
                <div class="col text-center">
                    <div class="card" ng-click="reconciliations()">
                        <div class="card-details farmer">
                            <img src="img/farmer.png" class="icon-left collection-icon">
                            <i class="">
                                <p></p>
                                <p>Reconciliations</p> </i>
                        </div>
                    </div>
                </div>

                <div class="col text-center">
                    <div class="card" ng-click="allCollections()">
                        <div class="card-details">
                            <img src="img/churn.png" class="icon-left collection-icon">
                            <i class="">
                                <p></p>
                                <p>All Collections</p></i>
                        </div>
                    </div>
                </div>
                <!--<div class="col text-center">
                    <div class="card" ng-click="farmList()">
                        <div class="card-details">
                            <img src="img/farm.png" class="icon-left collection-icon">
                            <i class="">
                                <p></p>
                                <p>Notifications</p></i>
                        </div>
                    </div>
                </div>-->
            </div>

            <div class="row icon-row">
                <div class="col text-center">

                </div>
                <div class="col text-center">
                    <div class="card" ng-click="logout()">
                        <div class="card-details">
                            <img src="img/logout.png" class="icon-left collection-icon">
                            <i class="">
                                <p></p>
                                <p>Logout</p></i>
                        </div>
                    </div>
                </div>
            </div>

            <div id="advert_image" class="row icon-row ">
                <div class="col">
                    <img src="img/ad1.png" class="picture1" alt="ad">
                </div>
            </div>
        </section>
        <!--
                <div class="text-center" style="padding-top: 40px;">
                    <div class="row">
                        <div class="col-50" ng-click="farmersList()">
                            <div class="card">
                                <div class="card-details farmer">
                                    <img src="img/farmer.png" class="icon-left collection-icon">
                                    <i class="">Farmers</i>
                                </div>
                            </div>
                        </div>
                        <div class="col-50" ng-click="farmList()">
                            <div class="card">
                                <div class="card-details">
                                    <img src="img/farm.png" class="icon-left collection-icon">
                                    <i class="">Farms</i>
                                </div>
                            </div>
                        </div>
                        &lt;!&ndash;<div class="col-50" ng-click="farmersList()">
                            <div class="card">
                                <div class="card-details">
                                    <img src="img/edit_farmer.png" class="icon-left collection-icon">
                                    <i class="">Edit Farmer</i>
                                </div>
                            </div>
                        </div>&ndash;&gt;
                    </div>
                    <div class="row">
                        <div class="col-50" ng-click="profileFarm()">
                            <div class="card">
                                <div class="card-details">
                                    <img src="img/profile_farm.png" class="icon-left collection-icon">
                                    <i class="">Profile Farm</i>
                                </div>
                            </div>
                        </div>
                        <div class="col-50" ng-click="milkCollection()">
                            <div class="card">
                                <div class="card-details">
                                    <img src="img/collection_van.png" class="icon-left collection-icon">
                                    <i class="">Collection</i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-50" ng-click="logout()">
                            <div class="card">
                                <div class="card-details logout">
                                    <img src="img/logout.png" class="icon-left collection-icon">
                                    <i class="logout">&nbsp;Logout&emsp;</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->

    </ion-content>
</ion-view>