<ion-view view-title="SmartFarms" name="login-view">
    <div class="my_nav bar bar-header">
        <h1 class="title">SmartFarms</h1>
    </div>
    <ion-content class="has-header">
        <div class="list">

            <h3 class="title text-center">No Collection Notifications</h3>
            <a class="item item-icon-left"  ng-click="thisDay()">
                <i class="icon ion-person-stalker"></i>
                Today
                <span class="badge badge-assertive">{{totalNumberToday}}</span>
            </a>

            <a class="item item-icon-left"  ng-click="thisWeek()">
                <i class="icon ion-person-stalker"></i>
                This Week
                <span class="badge badge-assertive">{{totalNumberWeek}}</span>
            </a>

            <a class="item item-icon-left"  ng-click="thisMonth()">
                <i class="icon ion-person-stalker"></i>
               This Month
                <span class="badge badge-assertive">{{totalNumberMonth}}</span>
            </a>

        </div>
    </ion-content>
</ion-view>