<ion-view view-title="SmartFarms" name="login-view">
    <div class="my_nav bar bar-header">
        <h1 class="title">SmartFarms</h1>
    </div>
    <ion-content class="has-header">
        <h4 class="title" style="text-align: center">End Of Day Reconciliations</h4>

        <div class="list list-inset">

            <label class="item item-input item-select">
                <div class="input-label">
                    Collector
                </div>
                <select ng-model="data.category_id">
                    <option value="">Choose Collector...</option>
                    <option ng-repeat="collector in all_collectors track by collector.id" value={{collector.id}}>
                        {{collector.username}}
                    </option>
                </select>
            </label>
        </div>

        <div class="list list-inset">

            <label class="item item-input item-select">
                <div class="input-label">
                    Collector
                </div>
                <select name="farmSelect" id="farmSelect"
                        ng-options="option.name for option in data.availableOptions track by option.id"
                        ng-model="data.selectedOption">
                </select>
            </label>
        </div>
        <button class="button button-block button-positive" ng-click="submitReconciliation(data)">Submit</button>


        <div class="list">

            <div class="item item-divider">
                Collectors Collections For Today
            </div>

            <a class="item" >
                <p>Collector Name: {{reconciliation.username}}</p>
                <p>Route Name:  {{reconciliation.route}}</p>
                <p>Total Litres Expected: {{reconciliation.totalLitres}} litres</p>
            </a>

        </div>

        <div class="list">

            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="Amount Received" ng-model="data.brought">
                </label>
                <button class="button button-small button-royal" ng-click="submitLitresBrought(data)">
                    Submit
                </button>
            </div>

        </div>
    </ion-content>
</ion-view>
