<!--
  ~ Copyright (c) 2017. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  ~ Morbi non lorem porttitor neque feugiat blandit. Ut vitae ipsum eget quam lacinia accumsan.
  ~ Etiam sed turpis ac ipsum condimentum fringilla. Maecenas magna.
  ~ Proin dapibus sapien vel ante. Aliquam erat volutpat. Pellentesque sagittis ligula eget metus.
  ~ Vestibulum commodo. Ut rhoncus gravida arcu.
  -->

<ion-view view-title="SmartFarms" name="login-view">
    <div class="my_nav bar bar-header">
        <h1 class="title">SmartFarms</h1>
    </div>
    <div class="welcome_message bar bar-subheader">
        <h3 class="title">Farmers</h3>
    </div>
    <ion-content class="padding has-subheader">
        <div class="item" ng-hide="totalFarmersWeek" ng-if="::totalFarmersWeek || undefined">
            All farmers submitted there milk to us this week.
        </div>
        <div class="card">
            <div class="bar bar-header item-input-inset" ng-show="totalFarmersWeek">
                <input type="text" placeholder=" Search for farmer" ng-model="search"
                       style="width:100%; padding-left:11px;"/>
            </div>
        </div>
        <div class="item" ng-hide="rslt.length" ng-if="farms">
            Sorry, no results for your search.
        </div>
        <ul class="list">
            <ion-item ng-repeat="farm in totalFarmersWeek | filter:search as rslt"
                      class="item-avatar item-icon-right"
                      ng-click="viewFarm(farm)">
                <img src="img/farm.png">
                <p>Farmer Name : {{farm.first_name+" "+farm.last_name}}</p>
                <p>Farm Name: {{farm.farm_name}}</p>
                <p>Route: {{farm.route_description}}</p>

                <!--
                                <i class="icon ion-edit"></i>
                -->
            </ion-item>
        </ul>
    </ion-content>
</ion-view>