<ion-view>
    <ion-content class="padding">
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>
        <div class="card">
            <div class="bar bar-header item-input-inset">
                <input type="text" placeholder=" Search for collection" ng-model="search"
                       style="width:100%; padding-left:11px;"/>
            </div>
        </div>
        <div class="item" ng-hide="rslt.length">
            Sorry, no results for your search.
        </div>
        <ul class="list">
            <ion-item ng-repeat="acceptedCollection in acceptedCollections | filter:search as rslt " ng-click="">
                <p>Member Number : {{acceptedCollection.memberNumber}}</p>
                <p>Farmer : {{acceptedCollection.first_name+" "+acceptedCollection.last_name+" "+acceptedCollection.surname}}</p>
                <p>Farm Name : {{acceptedCollection.farm_name}}</p>
                <p>Collection Date : {{ acceptedCollection.created_at | date:'medium'}}</p>
                <p>Collection Time : {{acceptedCollection.collection_time}}</p>
                <p>Litres Collected : {{acceptedCollection.litres_collected}}L</p>
            </ion-item>
        </ul>
    </ion-content>
</ion-view>