<ion-view>
    <div class="my_nav bar bar-header">
        <div side="left">
            <button class="button icon-left ion-android-arrow-back button-stable" ng-click="doBack()">
            </button>
        </div>
        <h1 class="title">SmartFarms</h1>
    </div>

    <ion-tabs class="tabs-icon-top bar-subheader">
        <ion-tab title="Accepted Collections" icon="ion-checkmark-round" href="#/main/accepted">
            <ion-nav-view name="accepted-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Rejected Collections" icon="ion-alert-circled" href="#/main/rejected">
            <ion-nav-view name="rejected-tab"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>