<ion-view view-title="SmartFarms" name="login-view">
    <div class="my_nav bar bar-header">
        <h1 class="title">SmartFarms</h1>
        <div side="left">
            <button class="button icon-left ion-android-arrow-back button-stable" ng-click="doBacktodash()">
            </button>
        </div>
    </div>

    <div class="welcome_message bar bar-subheader">
        <h3 class="title">Collection</h3>
    </div>
    <ion-content class="padding has-subheader">
        <section class="home-container">
            <div class="row icon-row">
                <div class="col text-center">
                    <div class="card" ng-click="addCollection()">
                        <div class="card-details">
                            <img src="img/churn.png" class="icon-left collection-icon">
                            <i class="">&nbsp;
                                <p></p>
                                <p>Add Collection</p></i>
                        </div>
                    </div>
                </div>
                <div class="col text-center">
                    <div class="card" ng-click="allCollections()">
                        <div class="card-details">
                            <img src="img/churn.png" class="icon-left collection-icon">
                            <i class="">
                                <p></p>
                                <p>All Collections</p></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row icon-row">
                <div class="col text-center">
                    <div class="card" ng-click="logout()">
                        <div class="card-details">
                            <img src="img/logout.png" class="icon-left collection-icon">
                            <i class="">&nbsp;
                                <p></p>
                                <p>Logout</p> &emsp;</i>
                        </div>
                    </div>
                </div>
                <div class="col"></div>
            </div>
            <div class="row icon-row" id="advert_image">
                <div class="col">
                    <img src="img/ad1.png" class="picture1" alt="ad">
                </div>
            </div>
        </section>
        <!-- <div class="text-center" style="padding-top: 2px;">

             <div class="row">
                 <div class="col-50" ng-click="addCollection()">
                     <div class="card">
                         <div class="card-details">
                             <img src="img/churn.png" class="icon-left collection-icon">
                             <i class="">&nbsp;Add Collection</i>
                         </div>
                     </div>
                 </div>
                 <div class="col-50" ng-click="allCollections()">
                     <div class="card">
                         <div class="card-details">
                             <img src="img/churn.png" class="icon-left collection-icon">
                             <i class="">&nbsp;All Collections</i>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="row">
                 <div class="col-50" ng-click="logout()">
                     <div class="card">
                         <div class="card-details logout">
                             <img src="img/logout.png" class="icon-left collection-icon">
                             <i class="logout">&nbsp;Logout&emsp;</i>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
         <ion-list id="advert_image">
             <img src="img/ad3.jpg" class="picture1" alt="ad">
         </ion-list>-->
    </ion-content>
</ion-view>