<ion-view view-title="SmartFarms" name="login-view">
    <div class="my_nav bar bar-header">
        <h1 class="title">SmartFarms</h1>
    </div>
    <div class="welcome_message bar bar-subheader">
        <h3 class="title">Add a Collection</h3>
    </div>
    <ion-content class="padding has-subheader">
        <div class="list list-inset">
            <label class="item item-input" ng-show="farmRoute" style="margin-bottom: 10px;">
                <span class="input-label">Route</span>{{farmRoute}}
            </label>
                <ui-select ng-model="farmer.selected" theme="selectize" title="Choose a farmer"
                           ng-change="changeFarmer(farmer.selected)">
                    <ui-select-match placeholder="Select or search a farmer in the list...">
                        {{$select.selected.farmer_name+"Member# - " + $select.selected.memberNumber}}
                    </ui-select-match>
                    <ui-select-choices repeat="farmer in farmersList | filter: $select.search">
                        <div ng-bind-html="farmer.farmer_name  | highlight: $select.search"></div>
                        <small>
                            Member Number: <span ng-bind-html="farmer.memberNumber | highlight: $select.search"></span>
                        </small><!--
                    <span ng-bind-html="farmer.farmer_name | highlight: $select.search"></span>-->
                    </ui-select-choices>
                </ui-select>

                <ui-select ng-model="farm.selected" theme="selectize" title="Choose a farm"
                           ng-change="changeFarm(farm.selected)">
                    <ui-select-match placeholder="Select or search a farm in the list...">
                        {{$select.selected.farm_name}}
                    </ui-select-match>
                    <ui-select-choices repeat="farm in farmList | filter: $select.search">
                        <div ng-bind-html="farm.farm_name  | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>

            <!--<label class="item item-select">
                <span class="input-label">Farmer</span>
                <select name="farmerSelect" id="farmerSelect"
                        ng-model="selectedFarmer"
                        ng-change="changeFarmer(selectedFarmer)">
                    &lt;!&ndash;ng-options="option.farm_name for option in farmsSelect.availableOptions track by option.id"
                    ng-model="selectedFarm"
                    ng-value="option.farm_name"
                    ng-change="changeFarm(selectedFarm)"&ndash;&gt;

                    <option ng-repeat="farmer in farmersList track by $index" value={{farmer}}>
                        {{farmer.farmer_name}}
                    </option>
                </select>
            </label>-->
            <!--  <label class="item item-select">
                  <span class="input-label">Farm</span>
                  <select name="farmSelect" id="farmSelect"
                          ng-model="selectedFarm"
                          ng-change="changeFarm(selectedFarm)">
                      <option ng-repeat="farm in farmList track by $index" value="{{farm}}">
                          {{farm.farm_name}}
                      </option>
                  </select>
              </label>-->
            <label class="item item-select">
                <span class="input-label">Time of Day</span>
                <select name="timeSelect" id="timeSelect"
                        ng-options="option.name for option in time.availableOptions track by option.id"
                        ng-model="time.selectedOption"></select>
            </label>
            <label class="item item-input">
                <span class="input-label">Milk Quantity</span>
                <input type="number" step="0.01" placeholder="Milk Quantity in Litres"
                       ng-model="collection.litres_collected">
            </label>
            <div class="item item-divider">
                Milk Tests
            </div>
            <div class="item">
                <label class="item item-input" ng-repeat="test_setting in testSettings track by $index">
                    <span class="input-label">{{test_setting.data.test_name}}</span>
                    <input type="number" step="0.01" placeholder={{test_setting.data.test_name}}
                           ng-model="tests[$index][test_setting.data.test_name]"
                           ng-disabled="">
                </label>
            </div>
        </div>

        <button class="button button-block button-positive"
                ng-click="confirmNewCollection(collection,farmer.selected,farm.selected,time.selectedOption,tests)">Add
            Collection
        </button>
    </ion-content>
</ion-view>