<ion-view>
    <ion-content class="padding">
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>
        <div class="card">
            <div class="bar bar-header item-input-inset">
                <input type="text" placeholder=" Search for collection" ng-model="search"
                       style="width:100%; padding-left:11px;"/>
            </div>
        </div>
        <div class="item" ng-hide="rslt.length">
            Sorry, no results for your search.
        </div>
        <ul class="list">
            <ion-item ng-repeat="rejectedCollection in rejectedCollections | filter:search as rslt " ng-click="">
                <p>Member Number : {{rejectedCollection.memberNumber}}</p>
                <p>Farmer : {{rejectedCollection.first_name+" "+rejectedCollection.last_name+" "+rejectedCollection.surname}}</p>
                <p>Farm Name : {{rejectedCollection.farm_name}}</p>
                <p>Collection Date : {{rejectedCollection.created_at}}</p>
                <p>Collection Time : {{rejectedCollection.collection_time}}</p>
                <p>Litres : {{rejectedCollection.litres_collected}}L</p>
                <!--
                                <p>Amount : {{acceptedCollection.amount}}</p>
                -->
            </ion-item>
        </ul>
    </ion-content>
</ion-view>