<ion-view>
    <ion-content scroll="false">
        <section class="login-container">
            <div class = "col header text-center">
                <img src="img/milk_logo.png" class = "logo" />
                <h1 class="text-center">SmartFarms</h1>
            </div>
            <div class = "col button-row text-center">
                <div class="list list-inset ">
                    <label class="item item-input">
                        <input type="text" placeholder="Username" ng-model="login.username">
                    </label>
                    <label class="item item-input">
                        <input type="password" placeholder="Password" ng-model="login.password">
                    </label>
                </div>
                <div class="list list-inset login_button">
                    <button class="button button-block button-positive login_button_color" ng-click="login(login)">Login</button>

                </div>

            </div>
            <div class = "col button-row text-center">
            </div>
            <div class = "col text-center">
            </div>
        </section>
    </ion-content>
</ion-view>