<ion-modal-view>
    <div class="my_nav bar bar-header">
        <h3 class="title">Add Farm</h3>
        <button class="button button-primary" ng-click="hideModal()">
            <i class="icon ion-android-close"></i>
            Cancel
        </button>
    </div>
    <ion-content class="padding has-header">
        <div class="list list-inset">
            <label class="item item-input"style="margin-bottom: 10px;">
                <span class="input-label">Farm Name</span>
                <input type="text" placeholder="Farm Name" ng-model="farm.farm_name">
            </label>
            <ui-select ng-model="farm.county" theme="selectize" title="Choose a county"
                       ng-change="countyChange(farm.county,farm.sub_county)">
                <ui-select-match placeholder="Select or search a county in the list...">
                    {{farm.county}}
                </ui-select-match>
                <ui-select-choices repeat="county in counties | filter: $select.search">
                    <div ng-bind-html="county  | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
            <ui-select ng-model="farm.sub_county" theme="selectize"  title="Choose subcounty"
                       ng-change="sub_countyChange(farm.county,farm.sub_county)">
                <ui-select-match placeholder="Select or search a Sub - County in the list...">
                    {{farm.sub_county}}
                </ui-select-match>
                <ui-select-choices repeat="sub_county in sub_counties | filter: $select.search">
                    <div ng-bind-html="sub_county  | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
            <ui-select ng-model="farm.ward" theme="selectize" title="Choose a farmer"
                       ng-change="wardChange(farm.ward)">
                <ui-select-match placeholder="Select or search a ward in the list...">
                    {{farm.ward}}
                </ui-select-match>
                <ui-select-choices repeat="ward in wards | filter: $select.search">
                    <div ng-bind-html="ward  | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
<!--            <label class="item item-select">
                <span class="input-label">County</span>
                <select ng-model="farm.county" ng-change="countyChange(farm.county,farm.sub_county)">
                    <option value="">Select County...</option>
                    <option ng-repeat="county in counties" value={{county}}>{{county}}</option>
                </select>
            </label>
            <label class="item item-select">
                <span class="input-label">Sub County</span>
                <select ng-model="farm.sub_county" ng-change="sub_countyChange(farm.county,farm.sub_county)">
                    <option value="">Select Sub County...</option>
                    <option ng-repeat="sub_county in sub_counties" value={{sub_county}}>{{sub_county}}</option>
                </select>
            </label>
            <label class="item item-select">
                <span class="input-label">Ward</span>
                <select ng-model="farm.ward" ng-change="wardChange(farm.ward)">
                    <option value="">Select Ward...</option>
                    <option ng-repeat="ward in wards" value={{ward}}>{{ward}}</option>
                </select>
            </label>-->
            <label class="item item-select">
                <span class="input-label">Farm Route</span>
                <select name="farmSelect" id="farmSelect"
                        ng-options="option.name for option in routes.availableOptions track by option.id"
                        ng-model="routes.selectedOption"></select>
            </label>
            <div class="item item-divider">
                Farm location
            </div>
            <div class="item">
                <label class="item item-input">
                    <span class="input-label">Farm Latitude</span>
                    <input type="text" placeholder="Farm Latitude" ng-model="farm.latitude">
                </label>
                <label class="item item-input">
                    <span class="input-label">Farm Longitude</span>
                    <input type="text" placeholder="Farm Longitude" ng-model="farm.longitude">
                </label>
                <div class="">
                    <button class="button button-block button-positive pull-right" ng-click="getLocation()">Get
                        Location
                    </button>
                </div>
            </div>
        </div>
        <button class="button button-block button-positive" ng-click="addFarm(farm,routes.selectedOption)">Add Farm
        </button>
    </ion-content>
</ion-modal-view>