<ion-modal-view>
    <div class="my_nav bar bar-header">
        <h3 class="title">Add Farm Activity</h3>
        <button class="button button-primary" ng-click="farmActivityModal.hide()">
            <i class="icon ion-android-close"></i>
            Cancel
        </button>
    </div>
    <ion-content class="padding has-header">
        <div class="list list-inset">
            <label class="item item-input">
                <span class="input-label">Activity Name</span>
                <input type="text" placeholder="Activity Name" ng-model="activity.name">
            </label>
            <label class="item item-input">
                <span class="input-label">Activity Description</span>
                <input type="text" placeholder="Activity Description" ng-model="activity.description">
            </label>
            <label class="item item-select">
                <span class="input-label">Category</span>
                <select name="activitySelect" id="activitySelect"
                        ng-options="option.name for option in actv_categories.availableOptions track by option.id"
                        ng-model="actv_categories.selectedOption"
                        ng-change="activitySelectChange(actv_categories.selectedOption)"></select>
            </label>
            <label class="item item-select">
                <span class="input-label">Sub Category</span>
                <select name="subActivitySelect" id="subActivitySelect"
                        ng-options="option.name for option in sub_actv_categories.availableOptions track by option.id"
                        ng-model="sub_actv_categories.selectedOption"
                        ng-change="subactivitySelectChange(sub_actv_categories.selectedOption)"></select>


            </label>
            <label class="item item-input" ng-show="show_animals">
                <span class="input-label">Number of Animals</span>
                <input type="number" placeholder="#animals to profile" ng-model="breed_no"
                       ng-change="addPanels(breed_no)">
            </label>
            <label class="item item-input" ng-show="show_acres">
                <input type="number" placeholder="Number of Acres" ng-model="activity.acres">
            </label>
            <div class="item item-divider item-icon-right" ng-show="show_animals">
                Animal Profile
            </div>
            <div class="item" id="activityDetails" ng-show="show_animals">
                <div class="orig" id="orig" ng-repeat="n in panels" repeat-end="onEnd(activity)">
                    <div class="item item-divider" id="item-divider">
                        Profile #{{n}}
                        <p>#{{remaining_animals[n]}} - Yet to Profile </p>
                    </div>
                    <label class="item item-select">
                        <span class="input-label">Breed</span>
                        <select name="breedSelect" id="breedSelect"
                                ng-options="option.name for option in breed_list.availableOptions track by option.id"
                                ng-model="activity_details[n].breed_list.selectedOption"></select>
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Number of Animals</span>
                        <input type="number" placeholder="#Animals" ng-model="activity_details[n].animals"
                               ng-change="additionalPanels(activity_details[n].animals,n,activity_details[n])">
                    </label>
                <label class="item item-select">
                    <span class="input-label">Status</span>
                    <select name="statusSelect" id="statusSelect"
                            ng-options="option.name for option in status.availableOptions track by option.id"
                            ng-model="activity_details[n].status.selectedOption"></select>
                </label>
                    <label class="item item-input">
                        <span class="input-label">Date:</span>
                        <div class="col-50">
                            <input class="dateStyle" type="date" ng-model="activity_details[n].date">
                        </div>
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Estimated Production</span>
                        <input type="number" placeholder="Production" ng-model="activity_details[n].production">
                    </label>
                </div>
            </div>

        </div>
        <button class="button button-block button-positive"
                ng-click="addFarmActivity(activity,actv_categories.selectedOption,sub_actv_categories.selectedOption,activity_details,breed_no)">
            Add Activity
        </button>
    </ion-content>
</ion-modal-view>