<ion-view view-title="Milk Collection" name="login-view">
    <div class="my_nav bar bar-header">
        <h1 class="title">SmartFarms</h1>
    </div>
    <div class="welcome_message bar bar-subheader">
        <h3 class="title">Select Farmer</h3>
    </div>
    <ion-content class="padding has-subheader">
        <div class="item" ng-hide="farmers" ng-if="::farmers || undefined">
            Sorry, no registered farmers.
        </div>
        <div class="card" ng-show="farmers">
            <div class="bar bar-header item-input-inset">
                <input type="text" placeholder=" Search for farmer" ng-model="search"
                       style="width:100%; padding-left:11px;"/>
            </div>
        </div>
        <div class="item" ng-hide="rslt.length" ng-if="farmers">
            Sorry, no results for your search.
        </div>
        <ul class="list">
            <ion-item ng-repeat="farmer in farmers | filter:search as rslt " ng-click="selectedFarmer(farmer)"
                        class="item-avatar">
                <img src="img/farmer.png">
                <p>Member Number : {{farmer.memberNumber}}</p>
                <p>Farmer's Name : {{farmer.first_name+" "+farmer.last_name+" "+farmer.surname}}</p>
            </ion-item>
        </ul>
    </ion-content>
</ion-view>