<ion-view view-title="SmartFarms" name="login-view">
    <div class="my_nav bar bar-header">
        <h1 class="title">SmartFarms</h1>
    </div>
    <div class="welcome_message bar bar-subheader">
        <h3 class="title">{{selected_farm_name}} Activities</h3>
    </div>

    <ion-floating-button class="float_button" click="newActivity()" has-footer="false" button-color="#2AC9AA"
                         icon="ion-plus" icon-color="#fff">
    </ion-floating-button>
    <ion-content class="padding has-subheader">
        <div class="item" ng-if="::noActivity || undefined" ng-show="noActivity">
            Sorry, no Profiles for this farm.
        </div>
        <!--<div class="item" ng-show="!farmActivities_list">
            Sorry, no registered activities yet.
        </div>-->
        <div class="card">
            <div class="bar bar-header item-input-inset" ng-show="farmActivities_list">
                <input type="text" placeholder=" Search for farm" ng-model="search"
                       style="width:100%; padding-left:11px;"/>
            </div>
        </div>
        <div class="item" ng-hide="rslt.length" ng-if="farmActivities_list">
            Sorry, no results for your search.
        </div>
        <ul class="list">
            <ion-item ng-repeat="farmActivity in farmActivities_list | filter : search as rslt" ng-click="viewActivityDetails(farmActivity.details)">
                <p>Activity Name : {{farmActivity.info.activity_name}}</p>
                <p>Category Name : {{farmActivity.info.category_name}}</p>
                <p>Sub-Category Name : {{farmActivity.info.sub_category_name}}</p>
                <p ng-show="farmActivity.info.animals">Number of Animals : {{farmActivity.info.animals}}</p>
                <p ng-show="farmActivity.info.acres">Number of Acres : {{farmActivity.info.acres}}</p>
            </ion-item>
        </ul>
    </ion-content>
</ion-view>