<ion-view view-title="New Farmer" name="login-view">
    <ion-content class="padding">
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="First Name" ng-model="newFarmer.first_name">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Middle Name" ng-model="newFarmer.middle_name">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Last Name" ng-model="newFarmer.last_name">
            </label>
            <label class="item item-input">
                <input type="number" placeholder="National ID" ng-model="newFarmer.id_number">
            </label>
            <label class="item item-input">
                <input type="number" placeholder="Phone Number" ng-model="newFarmer.phone">
            </label>
            <label class="item item-select">
                <span class="input-label">Category</span>
                <select ng-model="data.category_id">
                    <option value="">Choose Category...</option>
                    <option ng-repeat="category in categories track by category.id" value={{category.id}}>{{category.name}}</option>
                </select>
            </label>
        </div>
        <button class="button button-block button-positive" ng-click="Farmer(data)">Add Farmer</button>
    </ion-content>
</ion-view>