<ion-view view-title="Milk Collection" name="login-view">
    <div class="my_nav bar bar-header">
        <h1 class="title">SmartFarms</h1>
    </div>
    <div class="welcome_message bar bar-subheader">
        <h3 class="title">Select a Farm to Profile</h3>
    </div>
    <ion-content class="padding has-subheader">
        <div class="item" ng-hide="farms" ng-if="::farms || undefined">
            Sorry, no registered farms.
        </div>
        <div class="card">
            <div class="bar bar-header item-input-inset" ng-show="farms">
                <input type="text" placeholder=" Search for farm" ng-model="search"
                       style="width:100%; padding-left:11px;"/>
            </div>
        </div>
        <div class="item" ng-hide="rslt.length" ng-if="farms">
            Sorry, no results for your search.
        </div>
        <ul class="list">
            <ion-item ng-repeat="farm in farms | filter:search as rslt" ng-click="selectedFarm(farm)"
                      class="item-avatar item-icon-right">
                <img src="img/farm.png">
                <p>Farm name : {{farm.farm_name}}</p>
                <p>Farmers Name : {{farm.first_name+" "+farm.last_name+" "+farm.surname}}</p>
            </ion-item>
        </ul>
    </ion-content>
</ion-view>