<ion-modal-view>
    <div class="my_nav bar bar-header">
        <h3 class="title">Farm Details</h3>
        <button class="button button-primary" ng-click="closeViewFarmModal()">
            <i class="icon ion-android-close"></i>
            Close
        </button>
    </div>
    <ion-content class="padding has-header">
        <div class="list list-inset">
            <label class="item item-input">
                <span class="input-label">Farm Name</span>
                <input type="text" placeholder="Farm Name" ng-model="farm.farm_name" ng-disabled="true">
            </label>
            <label class="item item-input">
                <span class="input-label">County</span>
                <input type="text" placeholder="County" ng-model="farm.county" ng-disabled="true">
            </label>
            <label class="item item-input">
                <span class="input-label"> Sub County</span>
                <input type="text" placeholder="Sub County" ng-model="farm.sub_county" ng-disabled="true">
            </label>
            <label class="item item-input">
                <span class="input-label">Ward</span>
                <input type="text" placeholder="Ward" ng-model="farm.ward" ng-disabled="true">
            </label>
            <label class="item item-input">
                <span class="input-label">Route</span>
                <input type="text" placeholder="Route" ng-model="farm.route_description" ng-disabled="true">
            </label>
            <div class="item item-divider">
                Farm Geo-location
            </div>
            <div class="item">
                <div id="map" data-tap-disabled="true"></div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>