<ion-modal-view>
    <div class="my_nav bar bar-header">
        <h3 class="title">Farm Activity Details</h3>
        <button class="button button-primary" ng-click="viewActivityDetailsModal.hide()">
            <i class="icon ion-android-close"></i>
            Close
        </button>
    </div>
    <ion-content class="padding has-header">
        <div class="list list-inset">
            <div class="item item-divider item-icon-right">
                Animal Profiles
            </div>
            <div class="item" ng-hide="activityDetailsView.length">
                Sorry, no registered profiles yet.
            </div>
            <div class="item" id="activityDetails">
                <div class="orig" ng-repeat="(key,activityDetail) in activityDetailsView">
                    <div class="item item-divider item-icon-right">
                        Profile #{{key+1}}
                    </div>
                    <label class="item item-input">
                        <span class="input-label">Breed</span>{{activityDetail.breed_name}}
                    </label>
                    <label class="item item-input">
                        <span class="input-label">#Animals</span>{{activityDetail.number_animals}}
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Status</span>{{activityDetail.status}}
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Start Date</span>{{activityDetail.date | date}}
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Production</span>{{activityDetail.production}}
                    </label>
                </div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>